/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

@font-face {
    font-family: Bookman;
    src: url(fonts/Bookman.ttf);
}

html {
    scroll-behavior: smooth;
}



/*------------------------------------------------*/
header{
    padding: 5px 5px 5px 0;
    border-bottom: 1px solid #252525;
    background-color: #FFFFFF;
    display:block;
    position: sticky;
    top: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr auto;
}

.logo-container img {
    height: 50px;
}

.text-container{
    margin: 2px 0;
    margin-left: 10px;
}

.text-container h1{
    font-family: 'Bookman';
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #08519C;
    margin-bottom: 3px;
}

.text-container p{
    font-family: 'Arial';
    font-size: 16px;
    color: #252525;
}

.main-nav a{
    font-family: 'Arial';
    font-size: 14px;
    color: #252525;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 5px;
}

.main-nav a:hover{
    text-decoration: underline;
}

.login-container a{
    font-family: 'Arial';
    font-size: 14px;
    color: #252525;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #252525;
}

.login-container a:hover{
    background-color: #252525;
    color: #FFFFFF;
}

.section-hero{
    background-color: #FFFFFF;
    color: #252525;
    text-align: center;
    padding: 100px 20px;
}

.section-hero h2{
    font-family: 'Bookman';
    font-size: 48px;
    font-weight: bold;
    color: #08519C;
    margin-bottom: 20px;
}

.section-hero p{
    font-family: 'Arial';
    font-size: 18px;
    color: #252525;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-container .btn {
    font-family: 'Arial';
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #08519C;
    border: none;
}

.button-container .btn:hover {
    background-color: #063B6A;
}

.section-about{
    background-color: #F5F5F5;
    padding: 50px 80px;
}

.section-about h2{
    font-family: 'Bookman';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #08519C;
    margin-bottom: 30px;
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;;
    margin: 0 auto;
    text-align: center;
}

.about-content h3{
    font-family: 'Arial';
    font-size: 18px;
    font-weight: bold;
    color: #767676;
    margin-bottom: 10px;
}

.about-content p{
    font-family: 'Arial';
    font-size: 14px;
    text-align: justify;
    color: #252525;
    line-height: 1.5;
}

.section-statistics{
    background-color: #FFFFFF;
    padding: 50px 80px;
}

.section-statistics h2{
    font-family: 'Bookman';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #08519C;
    margin-bottom: 30px;
}

.statistics-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.statistic-content{
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
}

.statistic-content h3{
    font-family: 'Bookman';
    font-size: 16px;
    color: #252525;
    margin-bottom: 10px;
}

.statistic-content p{
    font-family: 'Bookman';
    font-size: 28px;
    font-weight: bold;
    color: #08519C;
    line-height: 1.5;
}

.section-stakeholders{
    background-color: #FFFFFF;
    padding: 50px 80px;
} 

.section-stakeholders h2{
    font-family: 'Bookman';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #08519C;
    margin-bottom: 30px;
}

.stakeholder-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.stakeholder-content{
    padding: 50px;
    background-color: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
}

.stakeholder-content img{
    width: 100px;
    display: block;
    margin: 0 auto 10px auto;
    margin-bottom: 20px;
}

.stakeholder-content h1{
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #252525;
    margin-bottom: 10px;
}

.stakeholder-content p{
    font-family: 'Arial';
    font-size: 14px;
    text-align: center;
    color: #252525;
    line-height: 1.5;
    margin-bottom: 20px;
}

.stakeholder-content a{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial';
    font-size: 14px;
    padding: 10px 20px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #08519C;
    border-radius: 5px;
}

.stakeholder-content a:hover{
    background-color: #063B6A;
}

.section-announcement{
    background-color: #F5F5F5;
    padding: 50px 80px;
}

.section-announcement h2{
    font-family: 'Bookman';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #08519C;
    margin-bottom: 30px;
}

.announcement-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.announce-content img{
    width: 300px;
    display: block;
    margin: 0 auto 10px auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.content-text{
    width: 300px;
    margin: 0 auto;
}

.content-text h3{
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    color: #252525;
    margin-bottom: 10px;
}

.content-text h4{
    font-family: 'Arial';
    font-size: 14px;
    color: #797979;
    margin-bottom: 10px;
}

.content-text p{
    font-family: 'Arial';
    font-size: 14px;
    text-align: left;
    color: #252525;
    line-height: 1.5;
    margin-bottom: 20px;
}

.content-text a{
    font-family: 'Arial';
    font-size: 16px;
    color: #08519C;
    border-radius: 5px;
}

.section-transparency{
    background-color: #FFFFFF;
    padding: 50px 80px;
    background-image: url('images/pexels-karola-g-5900225.jpg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transparency-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.transparency-container img{
    width: 400px;
    display: block;
    margin: 0 auto 10px auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.transparency-content{
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.transparency-content h3{
    font-family: 'Arial';
    font-size: 24px;
    font-weight: bold;
    color: #252525;
    margin-bottom: 10px;
}

.transparency-content p{
    font-family: 'Arial';
    font-size: 14px;
    text-align: justify;
    color: #252525;
    line-height: 1.5;
    margin-bottom: 20px;
}

.section-faq{
    background-color: #FFFFFF;
    padding: 50px 80px;
}

.section-faq h2{
    font-family: 'Bookman';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #08519C;
    margin-bottom: 30px;
}

.faq-content{
    display: none;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.faq-content p{
    font-family: 'Arial';
    font-size: 14px;
    text-align: justify;
    color: #252525;
    line-height: 1.5;
}

.faq-toggle{
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    color: #252525;
    background-color: #F5F5F5;
    border: 1px solid #08519C;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin-bottom: 10px;
}

.faq-content h3{
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    color: #252525;
    margin-bottom: 10px;
}

.section-downloads{
    background-color: #F5F5F5;
    padding: 50px 80px;
}

.section-downloads h2{
    font-family: 'Bookman';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #08519C;
    margin-bottom: 30px;
}

.downloads-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.download-content{
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
}

.download-content h3{
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #252525;
    margin-bottom: 10px;
}

.download-content p{
    font-family: 'Arial';
    font-size: 14px;
    text-align: center;
    color: #252525;
    line-height: 1.5;
    margin-bottom: 20px;
}

.download-content a{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial';
    font-size: 14px;
    padding: 10px 20px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #08519C;
    border-radius: 5px;
}

.section-forms{
    background-color: #FFFFFF;
    padding: 50px 80px;
}

.section-forms h2{
    font-family: 'Bookman';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #08519C;
    margin-bottom: 10px;
}

.section-forms p{
    font-family: 'Arial';
    font-size: 14px;
    text-align: center;
    color: #252525;
    line-height: 1.5;
    margin-bottom: 20px;
}

.section-forms form{
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.input-container input{
    width: 100%;
    padding: 10px;
    border: 1px solid #252525;
    font-family: 'Arial';
    font-size: 14px;
    margin-bottom: 5px;
}

.input-container textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 150px;
    padding: 10px;
    border: 1px solid #252525;
    font-family: 'Arial';
    font-size: 14px;
    margin-bottom: 5px;
}

.input-container h3{
    font-family: 'Bookman';
    font-size: 14px;
    color: #08519C;
    margin-bottom: 5px;
}

.button-container button{
    font-family: 'Arial';
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #08519C;
    border: none;
}

.button-container button:hover {
    background-color: #063B6A;
}

footer{
    background-color: #08519C;
    padding: 50px 80px;
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 400px;
}

.left-content{
    width: 450px;
}

.logo-content{
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 10px;
}

.logo-content img{
    width: 100px;
    height: auto;
}

.logo-texts{
    padding: 25px 0;
    margin-bottom: 20px;
}

.logo-texts h3{
    font-family: 'Bookman';
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.logo-texts p{
    font-family: 'Arial';
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.left-content h2{
    font-family: 'Bookman';
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.left-content p{
    font-family: 'Arial';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 1.5;
    margin-bottom: 10px;
}

.right-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.content-link h3{
    font-family: 'Bookman';
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.content-link p{
    font-family: 'Arial';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 1;
    margin-bottom: 10px;
}

.content-link a{
    font-family: 'Arial';
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.content-link a:hover{
    text-decoration: underline;
}

.footer-bottom{
    padding: 20px;
    text-align: center;
    background-color: #063B6A;
}

.footer-bottom p{
    font-family: 'Arial';
    font-size: 14px;
    color: #FFFFFF;
}